<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('Projects')"></head>

<body>
    <header th:replace="layout :: header"></header>
    <nav th:replace="layout :: nav"></nav>
    <section>
        <div class="container wrapper">
            <div th:each="project : ${projects}" class="project-list">
                <div class="project">
                    <h2><a th:href="@{|/project/${project.id}|}" th:text="${project.name}">Website Project</a></h2>
                    <p th:text="${project.description}">Design and build a custom website</p>
                    <span th:text="${project.status}" class="tag active">Active</span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

