<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head(${heading})"></head>

<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav"></nav>

<section>
    <form action="@{/collaborator/add}" method="post" th:object="${newCollaborator}">
    <div class="container wrapper">
        <h2>Manage Collaborators</h2>
        <ul class="checkbox-list">
            <li th:each="collab : ${collaborators}">
                <span th:text="${collab.name}" class="primary">Michael Pemulius</span>
                <div class="custom-select">
                    <span class="dropdown-arrow"></span>
                    <select>
                        <option th:each="role : ${roles}" th:text="${role.name}" value="#">Designer</option>
                    </select>
                </div>
            </li>
        </ul>
            <div class="actions add-new-collaborator">
                <input type="hidden" th:field="*{id}"/>
                <input type="text" th:field="*{name}" placeholder="Name..."/>
                <div class="custom-select">
                    <span class="dropdown-arrow"></span>
                    <select th:field="*{role.id}">
                        <!--
                        <option value="#" disabled selected>Role...</option>
                        -->
                        <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.id}">Developer</option>
                    </select>
                </div>
                <input type="submit" value="Add" class="button"/>
            </div>
    </div>
    </form>
</section>

</body>

</html>
