<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(page_title)">
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:text="'InstaTeam | ' + ${page_title}">InstaTeam</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>

<body>
    <header th:fragment="header" class="header">
        <div class="container">
            <div class="site-header">
                <a class="logo" th:href="@{/}">InstaTeam</a>
                <a class="new-project button icon-left" th:href="@{/project/add}"><i class="material-icons">add</i> New Project</a>
            </div>
        </div>
    </header>
    <nav th:fragment="nav" class="nav">
        <ul>
            <li class="selected"><a th:href="@{/}">Projects</a></li>
            <li><a href="#">Collaborators</a></li>
            <li><a href="#">Roles</a></li>
        </ul>
    </nav>
</body>

</html>