<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head(${heading})"></head>

<body>
    <header th:replace="layout :: header"></header>
    <nav class="nav">
        <ul>
            <li><a th:href="@{/}">Projects</a></li>
            <li><a th:href="@{/collaborators}">Collaborators</a></li>
            <li class="selected"><a th:href="@{/roles}">Roles</a></li>
        </ul>
    </nav>

    <section>
        <div class="container wrapper">
            <form th:action="@{/roles}" method="post" th:object="${newRole}">
                <input type="hidden" th:field="*{id}" />
                <h2>Manage Roles</h2>
                <div>
                    <ul class="checkbox-list" th:each="role : ${roles}">
                        <li><span th:text="${role.name}" class="primary">Developer</span></li>
                    </ul>
                </div>
                <div class="actions add-new-role">
                    <input type="text" th:field="*{name}" placeholder="New Role..."/>
                    <button type="submit" class="button">Add</button>
                </div>
            </form>
        </div>
    </section>

</body>

</html>




