<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head(${heading})"></head>

<body>
    <header th:replace="layout :: header"></header>
    <nav th:replace="layout :: nav"></nav>

    <section>
        <div class="container wrapper">
            <form th:action="@{${action}}" method="post" th:object="${collaborator}">
                <input type="hidden" th:field="*{id}" />
                <h2>Manage Collaborators</h2>
                <ul class="checkbox-list">
                    <li>
                        <span class="primary">Michael Pemulius</span>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select>
                                <option value="#">Designer</option>
                                <option value="#">Developer</option>
                                <option value="#">QA</option>
                                <option value="#">DevOps</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="actions add-new-collaborator">
                    <input type="text" th:field="*{name}" placeholder="Name..." />
                    <div class="custom-select">
                        <span class="dropdown-arrow"></span>
                        <select th:field="*{role}">
                            <option value="#">Role...</option>
                            <option value="#">Developer</option>
                            <option value="#">Designer</option>
                            <option value="#">QA</option>
                            <option value="#">DevOps</option>
                            <option value="#">Copywriter</option>
                        </select>
                    </div>
                    <input type="submit" th:value="${submit}" class="button"/>
                </div>
            </form>
        </div>
    </section>

</body>

</html>