<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('Edit Collaborators')"></head>

<body>
    <header th:replace="layout :: header"></header>
    <nav th:replace="layout :: nav"></nav>

    <section>
        <div class="container wrapper">
            <form th:action="@{${action}}" method="post" th:object="${collaborator}">
                <label>Edit Collaborators: Website Project</label>
                <ul class="checkbox-list">
                    <li><span th:each="role : ${roles}" th:text="${role.name}" class="primary">Developer</span>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select th:field="*{name}">
                                <option th:each="collaborator : ${collaborators}" th:text="${collaborator.name}" th:value="${collaborator.id}">Michael Pemulis</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="actions">
                    <input type="submit" value="Save" class="button" />
                    <a href="@{|/project/${project.id}|}" class="button button-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </section>
</body>

</html>